<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<castle>
		<components>
			<component
			  id="bootstrapper"
			  service="CastleWindsor.Bootstrapping.IContainerBootstrapper, CastleWindsor"
			  type="CastleWindsor.Bootstrapping.TestBootStrapper, CastleWindsor"
			  inspectionBehavior="all"
			  lifestyle="singleton"
			  initialPoolSize="2" maxPoolSize="6">

				

			</component>
		</components>
	</castle>
</configuration>